.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191c3c;
}

.landingText {
  width: 100%;
  margin: 0 auto;
  padding: 3em;
  text-align: justify;
  color: #53c486;
}

@media screen and (min-width: 900px) {
  .landingText {
    width: 75%;
  }
}
