header {
    max-height: 500px;
    background-color: #707FAA;
}

.imgContainer {
    display: flex;
    justify-content: center;
    min-height: 50px;
    box-sizing: border-box;
}

.imgContainer>img {
    display: block;
    max-width: 300px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 25%;
    justify-content: center;
}

.buttonContainer {
    width: 300px;
}

.buttonContainer>button {
    border-radius: 3px;
    width: 100%;
    height: 4em;
    font-size: larger;
    background-color: #D1CD84;
}