@font-face {
  font-family: "RickAndMorty";
  src: url("./get_schwifty.ttf") format("woff"),
    url("./get_schwifty.ttf") format("truetype");
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #191c3c;
}

#root {
  margin: 0 auto;
  max-width: 95%;
}

.App {
  position: relative;
  min-height: 100vh;
}